<a href="https://colab.research.google.com/github/asoffer2/mcon232_mod1/blob/main/MCON232_FC_Module_1_Strings_HomeworK_Anita_Soffer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MCON 232 — Strings Homework (Pass/Fail)

**Estimated coding time:** 90 minutes

**Date prepared:** 2026-01-27

Anita Soffer

## Reminder: Strings are immutable (save results!)

In Python, **strings cannot be changed in place**.  
Most string methods return a **new string**.

If you don’t **save the returned value**, the “change” is lost.

```python
s = "  Hello  "
s.strip()        # does NOT change s
s = s.strip()    # ✅ now s is updated
```

## Methods / Functions you may use (and are used in this assignment)

### String methods
- `lower()`, `upper()`, `title()`
- `strip()`, `lstrip()`, `rstrip()`
- `split(sep, maxsplit)`, `join(iterable)`
- `startswith(prefix)`, `endswith(suffix)`
- `find(sub)`, `count(sub)`
- `replace(old, new)`
- `isalpha()`, `isdigit()`, `isspace()`

### List methods
- `append(x)`

### Tuple creation and use

- Tuple literal: `(a, b, c)`
- One-item tuple: `(a,) (comma required)`
- Tuple from list or other iterable: tuple(iterable)
- Tuple indexing: `t[0], t[1], t[-1]`
- Tuple unpacking:`a, b, c = t`

Reminder: tuples are immutable. You do not append to a tuple; you create a new tuple and store it.

### Built-in functions
- `len(x)`
- `range(n)`
- `print(...)`
- `open(...)`

---

# Part A — Student Tasks

### Task 0 — Time tracking (required)
At the **bottom** of this notebook, you will record how long you spent on this assignment.

## Task 1 — Clean and normalize a title (Est. 12–15 minutes)

Write a function:

```python
def normalize_title(title: str) -> str:
    ...
```

It should:
1. Remove leading/trailing whitespace.
2. Convert to **Title Case** (first letter of each word uppercase, rest lowercase).
3. Collapse internal runs of whitespace to **single spaces**.

Examples:
- `"   the   secret   GARDEN   "` → `"The Secret Garden"`
- `"ANNE   of green   gables"` → `"Anne Of Green Gables"`

In [ ]:
# TASK 1: Write your function here

def normalize_title(title: str) -> str:
    title = title.strip()
    title = title.title()
    title_list = title.split()
    correctly_spaced_list = []
    for item in title_list:
      item = item.strip()
      if item != "":
        correctly_spaced_list.append(item)
    final_title = " ".join(correctly_spaced_list)
    return final_title




# Quick tests (you may add more)
print(normalize_title("   the   secret   GARDEN   "))
print(normalize_title("ANNE   of green   gables"))

The Secret Garden
Anne Of Green Gables

## Task 2 — Count “quiet letters” (Est. 15 minutes)

Write a function:

```python
def count_quiet_letters(s: str, letters: str) -> int:
    ...
```

Return how many characters in `s` are contained in `letters` (case-insensitive).

Example:
- `count_quiet_letters("Shhh... Please!", "sh")` → 5

In [ ]:
# TASK 2: Write your function here

def count_quiet_letters(s: str, letters: str) -> int:
  count = 0
  letters = letters.lower()
  for ch in s:
    ch = ch.lower()
    for letter in letters:
      if ch == letter:
        count+=1
  return count


print(count_quiet_letters("Shhh... Please!", "sh"))

5

## Task 3 — Extract initials (Est. 10–12 minutes)

Write a function:

```python
def initials(full_name: str) -> str:
    ...
```

Rules:
- The input might have extra spaces.
- Return initials in uppercase, separated by periods.

Examples:
- `"  louisa may  alcott "` → `"L.M.A."`
- `"frances  hodgson burnett"` → `"F.H.B."`

In [ ]:
# TASK 3: Write your function here

def initials(full_name: str) -> str:
    full_name_list = full_name.split(" ")
    initials = ""
    for item in full_name_list:
      item = item.strip()
      if item != "":
        letter = item[0].upper()
        initials += letter
        initials += "."
    return initials



print(initials("  louisa may  alcott "))
print(initials("frances  hodgson burnett"))

L.M.A.
F.H.B.

## Task 4 — Most frequent word (Est. 18–22 minutes)

Write a function:

```python
def most_frequent_word(text: str) -> str:
    ...
```

Rules:
- Convert text to lowercase.
- Treat punctuation as separators (you may replace punctuation with spaces).
- Return the word that occurs most frequently.
- If there is a tie, return the word that comes first alphabetically.

Test string:
```python
sample = "Rain, rain! Go away; come again another day. Rain?"
```
Expected output: `"rain"`

In [ ]:
# TASK 4: Write your function here

def most_frequent_word(text: str) -> str:
    text = text.lower()
    text = text.strip()
    text_list = text.split()
    words = []
    for i,item in enumerate(text_list):
      for ch in item:
        if ch in ",.:;!?":
          item = item.replace(ch, " ")
          text_list[i] = item
    text = "".join(text_list)
    spaced_text = text.split()
    max = 0
    for word in spaced_text:
      curr_count = spaced_text.count(word)
      if curr_count > max:
        max = curr_count
        max_word = word
    return word


sample = "Rain, rain! Go away; come again another day. Rain?"
print(most_frequent_word(sample))

rain

## Task 5 — CSV mini-project (Est. 25–30 minutes)

You will:

Run the next cell to create a CSV file named books.csv in your Colab environment.

Read the file without using the csv library (use with open(), split(), and loops).

Compute two results:

Books per country as a list of tuples:
[(country, num_books), (country, num_books), ...]

Earliest publication year in the file as an integer

CSV columns (in order):
title,author,year,country,genre

Important note:
When you read from a file, every value starts as a string. Convert year to an int before comparing years.

In [ ]:
# RUN THIS CELL FIRST (provided): writes books.csv

def write_sample_books_csv(filename: str = "books.csv") -> None:
    header = ["title", "author", "year", "country", "genre"]
    rows = [
        ["Little Women", "Louisa May Alcott", 1868, "United States", "Classic"],
        ["Anne of Green Gables", "L. M. Montgomery", 1908, "Canada", "Classic"],
        ["Heidi", "Johanna Spyri", 1881, "Switzerland", "Classic"],
        ["A Little Princess", "Frances Hodgson Burnett", 1905, "England", "Classic"],
        ["The Secret Garden", "Frances Hodgson Burnett", 1911, "England", "Classic"],
        ["Pollyanna", "Eleanor H. Porter", 1913, "United States", "Classic"],
        ["Black Beauty", "Anna Sewell", 1877, "England", "Classic"],
        ["Rebecca of Sunnybrook Farm", "Kate Douglas Wiggin", 1903, "United States", "Classic"],
        ["Eight Cousins", "Louisa May Alcott", 1875, "United States", "Classic"],
        ["What Katy Did", "Susan Coolidge", 1872, "United States", "Classic"],
    ]

    fout = open(filename, "w", encoding="utf-8", newline="")
    fout.write(",".join(header) + "\n")
    for row in rows:
        pieces = []
        for item in row:
            pieces.append(str(item))
        fout.write(",".join(pieces) + "\n")
    fout.close()


write_sample_books_csv("books.csv")
print("Wrote books.csv")

Wrote books.csv

In [ ]:
# TASK 5: Read books.csv WITHOUT the csv library
# Then compute:
# 1) books_per_country: list[tuple[str, int]]   e.g., [("England", 3), ("United States", 4), ...]
# 2) earliest_year: int

def read_books_no_csv(filename: str = "books.csv") -> list[tuple[str, str, str, str, str]]:
    """
    Return a list of tuples, one per row:
    (title, author, year, country, genre)
    All fields are read in as strings.
    """
    books = []
    with open(filename, "r") as f:
      for line in f:
        line = line.split(",")
        line = tuple(line)
        books.append(line)
    books.remove(books[0])
    return books




def books_per_country(books: list[tuple[str, str, str, str, str]]) -> list[tuple[str, int]]:
    """
    Return a list of tuples: (country, num_books)
    """
    countries = [country for title, author, year, country, genre in books]
    used_countries = []
    tup_list = []
    for country in countries:
      if country not in used_countries:
        country_count = countries.count(country)
        new_tup = (country, country_count)
        tup_list.append(new_tup)
        used_countries.append(country)
    return tup_list


def earliest_year(books: list[tuple[str, str, str, str, str]]) -> int:
    """
    Return the earliest year in the dataset as an int.
    Remember: convert the year from string to int.
    """
    years = [int(year) for title, author, year, country, genre in books]
    min = None
    for year in years:
      if min is None or year < min:
        min = year
    return min




books = read_books_no_csv("books.csv")
print("First row tuple:", books[0])

counts = books_per_country(books)
print("Books per country:", counts)

print("Earliest year:", earliest_year(books))

First row tuple: ('Little Women', 'Louisa May Alcott', '1868', 'United States', 'Classic\n')
Books per country: [('United States', 5), ('Canada', 1), ('Switzerland', 1), ('England', 3)]
Earliest year: 1868

---

## Required: Time Spent
In the next cell, replace the text with how long you spent (in minutes) and a 1–2 sentence reflection.

Example:
- `Time spent: 82 minutes`
- `Reflection: Task 4 was hardest because punctuation cleanup was tricky.`

Time spent: 1 hour 14 minutes
Reflection: Task four was the hardest with the punctuation, but I took it slow and tested as I went along. Task 5 was also hard because I didn't really
understand the code to create the csv file, so it was hard for me to picture the file contents.